.sparkles {
  position: absolute;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
  filter: blur(50px);
  opacity: 0;
  left: -100px;
  top: -100px;
}

.cardWrapper {
  transition: all 0.5s ease;
  position: relative; // Это нужно, чтобы ::before работал правильно

  &:hover {
    transform: scale(
      1.2
    ); // Умеренное увеличение масштаба, чтобы не было слишком большого скачка

    &::before {
      transition: all 0.5s ease;

      content: url('../SeventhPage/Blestki.svg');
      width: 135px;
      height: 122%;
      position: absolute;
      top: -5px;

      left: 50%;
      transform: translate(-50%, 0); /* Центрирование элемента */
    }
  }
}

.wrapperCard {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки по умолчанию */
}

@media (min-width: 768px) {
  .wrapperCard {
    grid-template-columns: repeat(3, 1fr); /* 3 колонки для экранов шире 768px */
  }
}

