.loading_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Adjust to your background color */
  color: #fff; /* Adjust to your text color */
  font-family: Arial, sans-serif;
  text-align: center;
}

.logo img {
  width: 150px; /* Adjust to your logo size */
  animation: spin 5s linear infinite; /* Add a spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading_text {
  margin-top: 20px;
  font-size: 24px;
}

.loading_percentage {
  margin-top: 10px;
  font-size: 48px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  padding: 0 50px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: 50px;
  color: #fff; // белый цвет текста как на видео
}
.digitContainer {
  position: relative;
  width: 30px;
  height: 45px;
  overflow: hidden;
}
.digit {
  position: absolute;
  font-size: 50px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(
    360deg,
    #ffffff 16.15%,
    rgba(255, 255, 255, 0.3) 140.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
}

.loadingText {
  font-weight: 400;
  font-size: 30px;
  background: linear-gradient(
    360deg,
    #ffffff 16.15%,
    rgba(255, 255, 255, 0.3) 140.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
}
